<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
        <i class="fa fa-chevron-left fa-2x pull-left" ng-if="projects.pager.prev" ng-click="load(projects.pager.prev)"></i>
        <i class="fa fa-chevron-right fa-2x pull-right" ng-if="projects.pager.next" ng-click="load(projects.pager.next)"></i>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6 col-sm-12" ng-repeat="project in projects.entries" style="cursor: pointer;" ng-click="openDetails(project.id)">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-code-o fa-5x" ng-if="!project.namespace.avatar.url"></i>
                        <img ng-if="project.namespace.avatar.url" height="70" width="70" ng-src="https://gitlab.com{{project.namespace.avatar.url}}?private_token={{privateToken}}">
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class=""><big><strong>{{project.namespace.name}}</strong></big></div>
                        <div>{{formatDate(project.last_activity_at)}} - {{formatTime(project.last_activity_at)}}</div>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">{{project.name}}</span>
                    <span class="pull-right"><i class="fa fa-cogs"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <i class="fa fa-chevron-left fa-2x pull-left" ng-if="projects.pager.prev" ng-click="load(projects.pager.prev)"></i>
        <i class="fa fa-chevron-right fa-2x pull-right" ng-if="projects.pager.next" ng-click="load(projects.pager.next)"></i>
    </div>
</div>
<br>
