<div class="modal-header">
    <h3 class="modal-title">{{project.name}}</h3>
</div>
<div class="modal-body">
    <loading-spinner loading="isLoading">
        <form id="buildForm" name="form.buildForm" ng-submit="form.buildForm.$valid && build()">
        </form>
    </loading-spinner>
</div>
<div class="modal-footer">
    <button form="buildForm" class="btn btn-success" ng-disabled="!form.buildForm.$valid">{{dict.build}}</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">{{dict.cancel}}</button>
</div>
